# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# NuGet packages
*.nupkg
packages/
*.snupkg

# Dotnet publish
publish/
*.Publish.xml

# Logs
*.log

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Others
*.vs/